﻿.table tbody tr.success {
  background-color: #dff0d8 !important;
}

.table tbody tr.error {
  background-color: #f2dede !important;
}

.table tbody tr.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}