﻿@{
    ViewBag.Title = "Evaluate url page";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Evaluate your URL</h1>
</div>

@using (Html.BeginForm(Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post,
    new { @id = "evaluateUrlForm" })))
{
    <div class="form-group">
        <input type="text" name="Url" class="form-control" id="inputUrl" placeholder="URL">
    </div>
    <button type="submit" class="btn btn-primary">Evaluate</button>
}

<div style="display:none" id="results_block">
    <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>URL</th>
                <th>Speed, seconds</th>
            </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/url.evaluator.js")" type="text/javascript"></script>
}