﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.RouteUrl(new { controller = "Home", action = "Index"})">URL Evaluator</a>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item active">

                            <a class="nav-link" href="@Url.RouteUrl(new { controller = "Home", action = "Index"})">
                                <span data-feather="file"></span>
                                Evaluate URL
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.RouteUrl(new { controller = "History", action = "Index"})">
                                <span data-feather="bar-chart-2"></span>
                                History
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/popper.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Chart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/feather.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", false)
</body>
</html>
