﻿@{
    ViewBag.Title = @ViewBag.enteredUrl.Url + " speed data";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">URL "@ViewBag.enteredUrl.Url" speed data</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="javascript:history.back()">
                <input type="button" class="btn btn-sm btn-outline-secondary" value="Back" />
            </a>
        </div>
    </div>
</div>

<canvas class="my-4" id="myChart" width="900" height="380"></canvas>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>URL</th>
            <th>Speed, seconds</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var evaluatedUrl in Model){
                <tr @if (evaluatedUrl.ResponseSpeed == null) { WriteLiteral("class='error'"); } >
                    <td><a href="@evaluatedUrl.Url">@evaluatedUrl.Url</a></td>
                    <td>@evaluatedUrl.ResponseSpeed</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        feather.replace()
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                        @foreach (var evaluatedUrl in Model){
                            if (evaluatedUrl.ResponseSpeed != null) {
                                WriteLiteral("'" + evaluatedUrl.Url + "',");
                            }
                        }
                    ],
                datasets: [{
                    data: [
                        @foreach (var evaluatedUrl in Model){
                            if (evaluatedUrl.ResponseSpeed != null) {
                                WriteLiteral(String.Format("{0:0.00}", evaluatedUrl.ResponseSpeed).Replace(',', '.') + ",");
                            }
                        }
                    ],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            offsetGridLines: true
                        }
                    }],
                    yAxes: [{
           
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
}

