﻿@{
    ViewBag.Title = "Url evaluation history page";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">All envaluated urls</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tbody>
            @foreach (var url in Model){
                <tr>
                    <th><a href="@Url.RouteUrl(new { controller = "History", action = "Details", id=url.Id})">@url.Url</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>